name: anotther

on:
  pull_request:
  push:
    branches: [main]
    tags: [v*]
  workflow_dispatch:
    inputs:
      deploy:
        description: Set to `true` to deploy to K8s
        required: false


jobs:
  kubeconfig:
    runs-on: ubuntu-latest
    steps:
      - run: |
          cat > kubeconfig.yaml <<EOF
          apiVersion: v1
          clusters:
          - cluster:
              certificate-authority-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJkakNDQVIyZ0F3SUJBZ0lCQURBS0JnZ3Foa2pPUFFRREFqQWpNU0V3SHdZRFZRUUREQmhyTTNNdGMyVnkKZG1WeUxXTmhRREUyTlRJNE56Y3hOVE13SGhjTk1qSXdOVEU0TVRJek1qTXpXaGNOTXpJd05URTFNVEl6TWpNegpXakFqTVNFd0h3WURWUVFEREJock0zTXRjMlZ5ZG1WeUxXTmhRREUyTlRJNE56Y3hOVE13V1RBVEJnY3Foa2pPClBRSUJCZ2dxaGtqT1BRTUJCd05DQUFTOTFidWF1TTBOVVgwQnhvTXRUTEptQlJLT2YwZVZ2VFdxK0ZXWVJrVDEKcktPYTJYaDZlVkRkZWV3dkpZWXJmTitQNGlNUjhQRUxib1BEOEJORTQ1Uk9vMEl3UURBT0JnTlZIUThCQWY4RQpCQU1DQXFRd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZEJnTlZIUTRFRmdRVWZuNUJIR0NZQjc4Q2hNekRCcTUwCm9ydSt6YW93Q2dZSUtvWkl6ajBFQXdJRFJ3QXdSQUlnYW5mWGhFMjF0ZFNTbXJZUWJVRkYrNlZtTUNZYmZyTmgKRmoySmpENTY3cVlDSUhsdEI4QjBLSTZHV1RvTHR1OVg4ZHAvMjR5aGV3UXBqL2RZQjRzMlcrdkQKLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
              server: https://a7ba46233ba9e4da4865095f05a693f5-1416057072.eu-west-3.elb.amazonaws.com
            name: local
          contexts:
          - context:
              cluster: local
              namespace: default
              user: user
            name: Default
          current-context: Default
          kind: Config
          preferences: {}
          users:
          - name: user
            user:
              client-certificate-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJrVENDQVRlZ0F3SUJBZ0lJS3Q1TERCZmFoS2N3Q2dZSUtvWkl6ajBFQXdJd0l6RWhNQjhHQTFVRUF3d1kKYXpOekxXTnNhV1Z1ZEMxallVQXhOalV5T0RjM01UVXpNQjRYRFRJeU1EVXhPREV5TXpJek0xb1hEVEl6TURVeApPREV5TXpJek0xb3dNREVYTUJVR0ExVUVDaE1PYzNsemRHVnRPbTFoYzNSbGNuTXhGVEFUQmdOVkJBTVRESE41CmMzUmxiVHBoWkcxcGJqQlpNQk1HQnlxR1NNNDlBZ0VHQ0NxR1NNNDlBd0VIQTBJQUJHNTdjNkppSGt3YkhBZTAKa29keXBPdnRoQWE0c2luVXMxRjN0Znc3aURSYUdVazQwZ1dkS1M4cTRxejJ6alc5N2xlckdGOHpjT0UwTFBBWApYc3gxWmRLalNEQkdNQTRHQTFVZER3RUIvd1FFQXdJRm9EQVRCZ05WSFNVRUREQUtCZ2dyQmdFRkJRY0RBakFmCkJnTlZIU01FR0RBV2dCUWJNNDZ1K1lrU01Jd25ZQnhMQ2tIcmkyekJOREFLQmdncWhrak9QUVFEQWdOSUFEQkYKQWlFQXRnWU1VMWFUcFpLTW9TRFJaMEZNQmpSdkRhZ3lLWDQ4dXZTTXFHNDByemdDSUQrbUlGSGZvcDlNUVMzdwpxWmY1ak1DU09mVEpjZWViL2Q0NDZFdDVSTCtCCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0KLS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJkakNDQVIyZ0F3SUJBZ0lCQURBS0JnZ3Foa2pPUFFRREFqQWpNU0V3SHdZRFZRUUREQmhyTTNNdFkyeHAKWlc1MExXTmhRREUyTlRJNE56Y3hOVE13SGhjTk1qSXdOVEU0TVRJek1qTXpXaGNOTXpJd05URTFNVEl6TWpNegpXakFqTVNFd0h3WURWUVFEREJock0zTXRZMnhwWlc1MExXTmhRREUyTlRJNE56Y3hOVE13V1RBVEJnY3Foa2pPClBRSUJCZ2dxaGtqT1BRTUJCd05DQUFSdzY0MytXL3BQYTFpWEwrb0dGMlZrZ2RNb0FsaGI4d3RHNVhrYXFabngKTjRQYlZxQXROSFE2K2IxRC9JM1pFTTF1ZzFSTlN0dVNwak8rcnZ3eHl4Qm5vMEl3UURBT0JnTlZIUThCQWY4RQpCQU1DQXFRd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZEJnTlZIUTRFRmdRVUd6T09ydm1KRWpDTUoyQWNTd3BCCjY0dHN3VFF3Q2dZSUtvWkl6ajBFQXdJRFJ3QXdSQUlnQ053c3M5OU8rYWlCZXZ0UEdlTjNYNWd4SERyemZqWEkKRWtqTnZrQ0tnemdDSUJBRXNrdUxiWUk4OEFHTzVkUWRuNSsvTElVN2tYUCt5eXZDam9VaVFybWcKLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
              client-key-data: LS0tLS1CRUdJTiBFQyBQUklWQVRFIEtFWS0tLS0tCk1IY0NBUUVFSU9aS2hsMUV3aXI1RlJqMkIyaWU5RFhQTk9ydWY1ODE4U1hTc3ZaNDR2RjJvQW9HQ0NxR1NNNDkKQXdFSG9VUURRZ0FFYm50em9tSWVUQnNjQjdTU2gzS2s2KzJFQnJpeUtkU3pVWGUxL0R1SU5Gb1pTVGpTQlowcApMeXJpclBiT05iM3VWNnNZWHpOdzRUUXM4QmRlekhWbDBnPT0KLS0tLS1FTkQgRUMgUFJJVkFURSBLRVktLS0tLQo=
          EOF
          cat >> $GITHUB_ENV <<EOF
          KUBECONFIG=kubeconfig.yaml

      - name: Deploy needed manifests to Setup authentification
        shell: bash
        run: |
          cat <<EOF | kubectl apply -f -
          apiVersion: v1
          kind: ServiceAccount
          metadata:
            name: vault-auth
            namespace: default
          ---
          apiVersion: rbac.authorization.k8s.io/v1beta1
          kind: ClusterRoleBinding
          metadata:
            name: role-tokenreview-binding
          roleRef:
            apiGroup: rbac.authorization.k8s.io
            kind: ClusterRole
            name: system:auth-delegator
          subjects:
            - kind: ServiceAccount
              name: vault-auth
              namespace: default
              
      - name: Setup Credentials
        shell: bash
        run: |
          TOKEN_REVIEW_JWT=`kubectl -n default get secret $(kubectl -n default get sa vault-auth -o go-template='{{ (index .secrets 0).name }}') -o go-template='{{ .data.token }}' | base64 --decode`
          KUBE_CA_CERT=`kubectl config view --raw --minify --flatten -o jsonpath='{.clusters[].cluster.certificate-authority-data}' | base64 --decode`
          KUBE_HOST=`kubectl config view --raw --minify --flatten -o jsonpath='{.clusters[].cluster.server}'`
          cat >> $GITHUB_ENV <<EOF
          TOKEN_REVIEW_JWT=$TOKEN_REVIEW_JWT
          KUBE_CA_CERT=$KUBE_CA_CERT
          KUBE_HOST=$KUBE_HOST
          EOF

